.main{
  position: relative;
  z-index: 2;
  > .container{
    overflow: hidden;
    background: #fff;
    padding: 3rem 1.5rem;
    margin-top: -6rem;
  }
  aside.sidebar{
    float: left;
    max-width: 18rem;
    width: 18%;
    .block_list{
      margin: 0 0 2.5rem 0;
      span{
        display: block;
        color: #3b4d6b;
        font-family: Arial, sans-serif;
        font-size: 1.2rem;
        font-weight: 700;
      }
      .common_list{
        margin: 1rem 0 0 0;
        li{
          display: block;
          margin: 0 0 1rem 0;
          a{
            color: #3b4d6b;
            font-size: 1.2rem;
            display: block;
            transition: all 400ms ease-in-out;
            border-bottom: 1px solid transparent;
            &:hover{
              border-bottom: 1px solid #6fba44;
              color: #6fba44;
            }
          }
        }
      }
    }
  }
  .filter_items{
    float: left;
    max-width: 78rem;
    width: 82%;
    &_event{
      margin: 0 0 2rem 0;
      width: 100%;
      text-align: right;
      font-size: 0;
      a{
        padding: 0.8rem 2rem;
        transition: all 300ms ease-in-out;
        margin: 0 1rem 0 0;
        font-size: 1.2rem;
        color: #3b4d6b;
        border-radius: 4px;
        display: inline-block;
        &.active_item{
          background: #3b4d6b;
          color: #fff;
        }
        &:hover{
          background: #3b4d6b;
          color: #fff;
        }
        &:last-child{
          margin: 0;
        }
      }
    }
    &_list{
      width: 100%;
      ul.big_list{
        width: 100%;
        font-size: 0;
        li{
          width: 25%;
          display: inline-block;
          padding: 0 2rem 4rem;
          box-sizing: border-box;
          a {
            display: block;
            img {
              display: block;
              max-width: 12rem;
              max-height: 9rem;
              margin: 0 auto 1rem;
            }
            h4.big_list_title {
              font-size: 1.2rem;
              color: #333;
              font-family: 'Helvetica Neue', Arial, sans-serif;
              margin: 0 0 2rem 0;
              font-weight: 400;
            }
            span.price_tag {
              font-family: 'Helvetica Neue', Arial, sans-serif;
              font-size: 1.5rem;
              color: #3b4d6b;
              display: block;
              font-weight: 700;
            }
            span.fresh_item {
              display: block;
              font-size: 1.1rem;
              color: #ff4242;
              font-family: 'Helvetica Neue', Arial, sans-serif;
            }
            &:hover img{
              transform: rotate(15deg);
            }
          }
        }
      }
    }
  }
}
















