.campaignSlider{
  .slider{
    position: relative;
    .item{
      height: 100%;
      width: 100%;
      position: relative;
      &:focus{
        outline: none;
      }
      img{
        display: block;
        height: 47rem;
        width: 100%;
      }
      .abs{
        position: absolute;
        top: 0;
        left: 13rem;
        bottom: 0;
        z-index: 2;
        width: 60%;
        text-align: center;
        padding: 9rem 0 0 0;
        > p{
          font-family: 'Univers', sans-serif;
          text-transform: uppercase;
          color: #3b4d6b;
          font-size: 5rem;
          letter-spacing: -2px;
          line-height: 1;
          > span{
            text-transform: lowercase;
            position: relative;
            font-size: 3.5rem;
            display: inline-block;
            padding: 0 6rem;
            font-style: oblique;
            font-weight: 700;
            letter-spacing: 0;
            background: url('../img/lines.png') no-repeat 0 60%;
            &:after{
              content: '';
              position: absolute;
              width: 46px;
              top: 50%;
              margin: -1px 0 0 0;
              height: 8px;
              right: 0;
              background: url('../img/lines.png') no-repeat 0 0;
            }
          }
        }
        > a{
          font-size: 2rem;
          color: #3b4d6b;
          display: inline-block;
          position: relative;
          margin: 2rem 0 0 0;
          &:after{
            content: '';
            position: absolute;
            z-index: 2;
            pointer-events: none;
            right: -2rem;
            margin: -4px 0 0 0;
            top: 50%;
            border: 6px solid transparent;
            border-left: 6px solid #3b4d6b;
          }
        }
      }
    }
    .new_wrap_button{
      position: absolute;
      //text-align: center;
      //left: 0;
      //right: 0;
      left: 50%;
      bottom: 12rem;
      transform: translate(-50%,-50%);
      //width: 100%;
      overflow: hidden;
      button.slick-arrow{
        float: left;
        display: inline-block;
        &.slick-prev{
          margin: 0 0 0 2rem;
          background: rgba(68, 79, 107, 0.7);
          border: none;
          border-radius: 4px;
          width: 4.4rem;
          height: 3rem;
          position: relative;
          //text-indent: -9999px;
          &:after{
            content: '';
            position: absolute;
            left: 50%;
            top: 50%;
            margin: 0 0 0 6px;
            transform: translate(-50%,-50%);
            border: 10px solid transparent;
            border-left: 10px solid #fff;
          }
        }
        &.slick-next{
          margin: 0 2rem 0 0;
          background: rgba(68, 79, 107, 0.7);
          border: none;
          border-radius: 4px;
          width: 4.4rem;
          height: 3rem;
          //text-indent: -9999px;
          position: relative;
          &:after{
            content: '';
            position: absolute;
            left: 50%;
            top: 50%;
            margin: 0 0 0 -7px;
            transform: translate(-50%,-50%);
            border: 10px solid transparent;
            border-right: 10px solid #fff;
          }
        }
      }
      ul.slick-dots{
        float: left;
        display: inline-block;
        height: 2.6rem;
        padding: 0.2rem 0.5rem;
        border-radius: 4px;
        background: rgba(68, 79, 107, 0.7);
        li{
          display: inline-block;
          margin: 0 2rem 0 0;
          &:last-child{
            margin: 0;
          }
          button{
            margin-top: 0.4rem;
            border: none;
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
            background: transparent;
          }
          &.slick-active button{
            background: #fff;
          }
          &:hover button{
            background: #fff;
          }
        }
      }
    }
  }
}