<meta charset="UTF-8" />
<title>test</title>

<!-- Mobile Viewport -->
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
<meta name="HandheldFriendly" content="true" />
<meta http-equiv="Cache-Control" content="no-cache" />
<meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />

<!--<meta name="format-detection" content="telephone=no" />
<meta name="format-detection" content="address=no" />-->

<!-- Internet Explore -->
<meta http-equiv="cleartype" content="on" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-type" content="text/html;charset=utf-8" />

<link rel="stylesheet" type="text/css" href="css/style.css" />
<link rel="stylesheet" type="text/css" href="img/sprite/sprite.css" />
<link rel="stylesheet" type="text/css" href="vendor/css/plugins/slick.css" />