<footer class="footer">
    <footer class="footerTop">
        <div class="container">
            <div class="footerTopInner">
                <div class="footer_titles">Sign up for our newsletter</div>
                <div class="footer_titles">Learn</div>
                <div class="footer_titles">Contact Information</div>
                <div class="footer_titles last">Hours of Operation</div>
            </div>
            <div class="footerTopInner">
                <div class="footer_form">
                    <label class="first_input">
                        <input type="text" placeholder="" />
                    </label>
                    <label class="last_input">
                        <input type="submit" value="Search" />
                    </label>
                </div>
                <div class="footer_links">
                    <ul>
                        <li>
                            <a href="/">About Us</a>
                        </li>
                        <li>
                            <a href="/">Policies</a>
                        </li>
                    </ul>
                </div>
                <div class="footer_links">
                    <ul>
                        <li>
                            <b>Toll-Free</b>: 123-456-7890
                        </li>
                        <li>
                            <b>Intl.</b>: 123-456-7890
                        </li>
                        <li>
                            <b>Fax</b>: 123-456-7890
                        </li>
                        <li>
                            <b>Email</b>: email@xxx.com
                        </li>
                    </ul>
                </div>
                <div class="footer_links last">
                    <ul>
                        <li>
                            7AM - 8PM CST Mon - Fri
                        </li>
                        <li>
                            9AM - 5PM CST Sat - Sun
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <footer class="footerBottom">
        <div class="container">
            <span>
                © copyright shoptics 2004-2013
            </span>
        </div>
    </footer>
</footer>