<header class="header">
    <section class="headerTop">
        <div class="container">
            <div class="headerTopLogo">
                <a href="/">
                    <img src="img/logo.png" alt="" />
                </a>
            </div>
            <div class="headerTopOffer">
                <span>
                    Free shipping on orders over $29.99
                </span>
                <a href="/">Learn more</a>
            </div>
            <div class="headerTopLabel">
                <a href="/">
                    <img src="img/header_price_tag.png" alt="image" />
                </a>
            </div>
        </div>
    </section>
    <section class="headerNav">
        <div class="container">
            <div class="headerNavDrop">
                <div class="headerNavDropWrap">
                    <span class="title">shop for</span>
                    <ul class="headerNavDropWrapList">
                        <li>
                            <a href="/">Sports & Outdoors</a>
                        </li>
                        <li>
                            <a href="/">Cameras & Photo</a>
                        </li>
                        <li>
                            <a href="/">Jewelry & Watches</a>
                        </li>
                        <li>
                            <a href="/">Industrial & Scientific</a>
                        </li>
                        <li>
                            <a href="/">Electronics</a>
                        </li>
                        <li>
                            <a href="/">Tools & Home Improvement</a>
                        </li>
                        <li>
                            <a href="/">Clothing, Shoes & Accessories</a>
                        </li>
                        <li>
                            <a href="/">Everything Else</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="headerNavSearch">
                <span>
                    <label class="first_input">
                        <input type="text" placeholder="Click to search" />
                    </label>
                    <label class="last_input">
                        <input type="submit" value="Search" />
                    </label>
                </span>
            </div>
            <div class="headerNavPart">
                <ul>
                    <li>
                        <a href="/">
                            <img src="img/nav2_3.png" alt="image" />
                        </a>
                    </li>
                    <li>
                        <a href="/">
                            <img src="img/nav2_2.png" alt="image" />
                        </a>
                    </li>
                    <li>
                        <a href="/">
                            <img src="img/nav2_1.png" alt="image" />
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</header>