<section class="main">
    <div class="container">
        <aside class="sidebar">
            <div class="block_list">
                <span>Shop by Category</span>
                <ul class="common_list">
                    <li>
                        <a href="/">Men</a>
                    </li>
                    <li>
                        <a href="/">Women</a>
                    </li>
                    <li>
                        <a href="/">Riflescopes</a>
                    </li>
                    <li>
                        <a href="/">Other popular stuff</a>
                    </li>
                </ul>
            </div>
            <div class="block_list">
                <span>Shop by Brand</span>
                <ul class="common_list">
                    <li>
                        <a href="/">Barska</a>
                    </li>
                    <li>
                        <a href="/">Women</a>
                    </li>
                    <li>
                        <a href="/">Riflescopes</a>
                    </li>
                    <li>
                        <a href="/">Other popular stuff</a>
                    </li>
                </ul>
            </div>
            <div class="block_list">
                <span>Shop by Department</span>
                <ul class="common_list">
                    <li>
                        <a href="/">Men</a>
                    </li>
                    <li>
                        <a href="/">Women</a>
                    </li>
                    <li>
                        <a href="/">Riflescopes</a>
                    </li>
                    <li>
                        <a href="/">Other popular stuff</a>
                    </li>
                </ul>
            </div>
        </aside>
        <div class="filter_items">
            <div class="filter_items_event">
                <a href="/" class="active_item">New items</a>
                <a href="/">Popular items</a>
                <a href="/">Top rated</a>
            </div>
            <div class="filter_items_list">
                <ul class="big_list">
                    <li>
                        <a href="/">
                            <img src="img/product_1.png" alt="img"  />
                            <h4 class="big_list_title">
                                Bushnell Trophy XLT 4-
                                12x40mm Matte Riflescope
                            </h4>
                            <span class="price_tag">$9.99</span>
                            <span class="fresh_item">new product</span>
                        </a>
                    </li>
                    <li>
                        <a href="/">
                            <img src="img/product_2.png" alt="img"  />
                            <h4 class="big_list_title">
                                Bushnell Trophy XLT 4-
                                12x40mm Matte Riflescope
                            </h4>
                            <span class="price_tag">$9.99</span>
                            <span class="fresh_item">new product</span>
                        </a>
                    </li>
                    <li>
                        <a href="/">
                            <img src="img/product_3.png" alt="img"  />
                            <h4 class="big_list_title">
                                Bushnell Trophy XLT 4-
                                12x40mm Matte Riflescope
                            </h4>
                            <span class="price_tag">$9.99</span>
                            <span class="fresh_item">new product</span>
                        </a>
                    </li>
                    <li>
                        <a href="/">
                            <img src="img/product_4.png" alt="img"  />
                            <h4 class="big_list_title">
                                Bushnell Trophy XLT 4-
                                12x40mm Matte Riflescope
                            </h4>
                            <span class="price_tag">$9.99</span>
                            <span class="fresh_item">new product</span>
                        </a>
                    </li>
                    <li>
                        <a href="/">
                            <img src="img/product_1.png" alt="img"  />
                            <h4 class="big_list_title">
                                Bushnell Trophy XLT 4-
                                12x40mm Matte Riflescope
                            </h4>
                            <span class="price_tag">$9.99</span>
                            <span class="fresh_item">new product</span>
                        </a>
                    </li>
                    <li>
                        <a href="/">
                            <img src="img/product_2.png" alt="img"  />
                            <h4 class="big_list_title">
                                Bushnell Trophy XLT 4-
                                12x40mm Matte Riflescope
                            </h4>
                            <span class="price_tag">$9.99</span>
                            <span class="fresh_item">new product</span>
                        </a>
                    </li>
                    <li>
                        <a href="/">
                            <img src="img/product_3.png" alt="img"  />
                            <h4 class="big_list_title">
                                Bushnell Trophy XLT 4-
                                12x40mm Matte Riflescope
                            </h4>
                            <span class="price_tag">$9.99</span>
                            <span class="fresh_item">new product</span>
                        </a>
                    </li>
                    <li>
                        <a href="/">
                            <img src="img/product_4.png" alt="img"  />
                            <h4 class="big_list_title">
                                Bushnell Trophy XLT 4-
                                12x40mm Matte Riflescope
                            </h4>
                            <span class="price_tag">$9.99</span>
                            <span class="fresh_item">new product</span>
                        </a>
                    </li>
                    <li>
                        <a href="/">
                            <img src="img/product_1.png" alt="img"  />
                            <h4 class="big_list_title">
                                Bushnell Trophy XLT 4-
                                12x40mm Matte Riflescope
                            </h4>
                            <span class="price_tag">$9.99</span>
                            <span class="fresh_item">new product</span>
                        </a>
                    </li>
                    <li>
                        <a href="/">
                            <img src="img/product_2.png" alt="img"  />
                            <h4 class="big_list_title">
                                Bushnell Trophy XLT 4-
                                12x40mm Matte Riflescope
                            </h4>
                            <span class="price_tag">$9.99</span>
                            <span class="fresh_item">new product</span>
                        </a>
                    </li>
                    <li>
                        <a href="/">
                            <img src="img/product_3.png" alt="img"  />
                            <h4 class="big_list_title">
                                Bushnell Trophy XLT 4-
                                12x40mm Matte Riflescope
                            </h4>
                            <span class="price_tag">$9.99</span>
                            <span class="fresh_item">new product</span>
                        </a>
                    </li>
                    <li>
                        <a href="/">
                            <img src="img/product_4.png" alt="img"  />
                            <h4 class="big_list_title">
                                Bushnell Trophy XLT 4-
                                12x40mm Matte Riflescope
                            </h4>
                            <span class="price_tag">$9.99</span>
                            <span class="fresh_item">new product</span>
                        </a>
                    </li>
                    <li>
                        <a href="/">
                            <img src="img/product_1.png" alt="img"  />
                            <h4 class="big_list_title">
                                Bushnell Trophy XLT 4-
                                12x40mm Matte Riflescope
                            </h4>
                            <span class="price_tag">$9.99</span>
                            <span class="fresh_item">new product</span>
                        </a>
                    </li>
                    <li>
                        <a href="/">
                            <img src="img/product_2.png" alt="img"  />
                            <h4 class="big_list_title">
                                Bushnell Trophy XLT 4-
                                12x40mm Matte Riflescope
                            </h4>
                            <span class="price_tag">$9.99</span>
                            <span class="fresh_item">new product</span>
                        </a>
                    </li>
                    <li>
                        <a href="/">
                            <img src="img/product_3.png" alt="img"  />
                            <h4 class="big_list_title">
                                Bushnell Trophy XLT 4-
                                12x40mm Matte Riflescope
                            </h4>
                            <span class="price_tag">$9.99</span>
                            <span class="fresh_item">new product</span>
                        </a>
                    </li>
                    <li>
                        <a href="/">
                            <img src="img/product_4.png" alt="img"  />
                            <h4 class="big_list_title">
                                Bushnell Trophy XLT 4-
                                12x40mm Matte Riflescope
                            </h4>
                            <span class="price_tag">$9.99</span>
                            <span class="fresh_item">new product</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>