<section class="campaignSlider">
        <div class="slider">
            <div class="item">
                <img src="img/slide_1.png" alt="image" />
                <div class="abs">
                    <p>Get the best<br /><span>in</span><br />performance sunglasses</p>
                    <a href="/">shop now</a>
                </div>
            </div>
            <div class="item">
                <img src="img/slide_1.png" alt="image" />
            </div>
            <div class="item">
                <img src="img/slide_1.png" alt="image" />
            </div>
            <div class="item">
                <img src="img/slide_1.png" alt="image" />
            </div>
            <div class="item">
                <img src="img/slide_1.png" alt="image" />
            </div>
            <div class="item">
                <img src="img/slide_1.png" alt="image" />
            </div>
        </div>
</section>