@font-face {
  font-family: 'Univers';
  src: url('../fonts/UniversCondensedMedium.ttf');
}
@font-face {
  font-family: 'Helvetica Ultralight';
  src: url('../fonts/helveticaneuecyr-ultralight.otf');
}
@font-face {
  font-family: 'Helvetica Light';
  src: url('../fonts/helveticaneuecyr-light.otf');
}
